:root{
    --primarycolor:#0e6253;
    --secondarycolor:#ffc107;
    --whitecolor: #fff;
    --blackcolor:#222;
    --softGreencolor:#d9f2ee;
    --darkgraycolor:#a7a7a7;
    --graycolor:#f5f5f546;

}

*{
      margin: 0;
      padding:0;
      box-sizing: border-box;
      outline: none;
      font-family: 'open Sans', sans-serif;
}

body{
    width:100%;
    height:auto;
    display: flex;
}


.sidebar {
     height: 100%;
     width: 250px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     position: fixed;
     top: 0;
     left:0;
     padding: 2%;
     background-color: var(--primarycolor);
     color: var(--whitecolor);

}

.sidebar-menus{
    display: flex;
    flex-direction: column;
}

.sidebar-menus a ,.sidebar-logout a {
    padding: 5% 8%;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    text-decoration: none;
    color: var(--whitecolor);


}

.sidebar-menus a icon-icon, .sidebar-logout a icon-{
    font-size: 20px;
}


.sidebar-menus a:hover , .sidebar-logout a:hover{
     background-color:  var(--secondarycolor);
     border-radius:  50px;


}

.main {
    width: 100%;
    height: max-content;
    min-height: 100vh;
    padding: 2%;
    background-color: var(--softGreencolor);
    margin-left :250px;
    
}


.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.menu-toggle{
    display: menu;
}


.search{
    width:50%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    background-color: var(--whitecolor);
    border-radius: 20px;
} 


.search input {
     width: 80%;
     height: 100%;
     padding: 20px;
     border: none;
     border-radius:  20px;

}

.search-btn {
    background-color: var(--secondarycolor);
    color: var(--whitecolor);
    border: none;
    border-radius: 20px;
    width: 120px;
    cursor: pointer;

}

.search:hover{
    box-shadow:rgba(149,157,165,0.2) 0px 8px 24px ;



}

.search-btn:hover{
    background-color: var(--primarycolor);
}


.profile{
    display:flex;
    align-items: center;
    gap: 0.5rem;
}

.cart,  .user{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--whitecolor);
    font-size: 20px;
    color:var(--primarycolor);
    text-decoration: none;
    padding:0 10px;
    height: 40px;
    border-radius: 50%;
}


.cart:hover,.user:hover{
    box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
}



.main-highlight{
    margin: 3% 0;
    padding: 2%;
    background-color: var(--secondarycolor);
    border-radius: 10px;
}


.main-header{
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}



.main-title{
    font-size:20px;
}


.main-arrow{
    font-size: 24px;
}



.back,.next{
    cursor: pointer;
}


.back:hover{
    color:var(--primarycolor);
}



.highlight-wrapper{
    width: 100%;
    display: flex;
    padding: 1%;
    border-radius: 8px;
    gap: 1.5rem;
    overflow-x: hidden;
}


.highlight-card{
    display: flex;
    flex-direction: row;
    min-width: 200;
    width: 80%;
    height: 100%;
    gap: 1rem;
    border-radius: 8px;
    padding: 1%;
    background-color: var(--graycolor);
    cursor: pointer;

}


.highlight-img{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    object-fit: cover;
    object-position: centers;
}


.highlight-desc h4{
    color:var(--primarycolor);
}

.highlight-desc p{
    color: var(--blackcolor);
    font-size: 13px;
    
}

.highlight-card:hover{
    background-color:var(--whitecolor);
    box-shadow: rgb(176, 176, 176, 0.2) 0px 2px 8px 0px;
}

.main-menus{
    min-height: 100%;
    background-color: var(--graycolor);
    padding:2%;
    border-radius: 8px;
}
.main-filter{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5rem;
    gap: 1rem;
}

.back-menus,.next-menus{
    cursor: pointer;
}


.back-menus:hover, .next-menus:hover {
    color: var(--primarycolor);
}

.filter-wrapper {
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
    width: 100%;
    height: 100px;
    gap: 1.2rem;
}


.filter-card {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-aroundmi;
    min-width: 80px;
    height: 100%;
    background-color: var(--whitecolor);
    color: var(--blackcolor);
    border-radius:  8px;
    border: 1px solid  var(--softGreencolor);
    font-size:  14px;
    cursor: pointer;
}

.filter-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60%;
    font-size: 30px;
    background-color:  var(--softGreencolor);
    color: var(--primarycolor);

}


.filter-card:hover {
    background-color: var(--primarycolor);
    color: var(--secondarycolorr);
}


.filter-card:hover .filter-icon {
    background-color: var(--whitecolor);

}

.divider {
    margin:  1rem 0;
    height:  1px;
    width: 100%;
    background-color: var(--primarycolor);
    border: none;

}


.main-detail {
    margin: 1 rem 0 1.5rem 0;
}

.main-wrapper {
     display:grid;
     grid-template-columns: repeat(auto-fit, element(250px,  1fr));
     width: 100%;
     margin-top:  1rem;
     gap: 2%;
     border-radius: 8px;

}

.detail-card {
    min-height:  180px;
    height: 100%;
    background-color: var(--whitecolor);
    border-radius: 8px; 
    margin:  1% 0;
    box-shadow: rgba(176, 176, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.detail-img {
    width: 600;
    height: 600px;
    border-radius: 1px;
    object-fit: suqare;
    object-position:center;
    filter:brightness(0.8);
}

.detail-desc {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding:  3%;
    width: 100%;

}

.detail-sub {
    font-size: 12px;
    color: var(--darkgraycolor);
    letter-spacing: 0.5;
    margin: 1%  0;
}

.price{
    color: var(--primarycolor);

}


.detail-favorites {
    font-size:24px;
}


.detail-card:hover {
    box-shadow:rgba(149,157,165,0.2) 0px 8px 24px;
}

.detail-card:hover .deatil-img{
    filter:opacity(1);
}

.detail-card:hover .detail-name h4 {
      color: var(--primarycolor);
}

.detail-card:hover .price{
    letter-spacing: 1.5;
}



